{# Footer Template #}
{%
  set footer_classes = 'text-lg-start' ~
  (b5_footer_schema != 'none' ? " footer-#{b5_footer_schema}" : ' ') ~
  (b5_footer_schema != 'none' ? (b5_footer_schema == 'custom' ? ' text-custom' : (b5_footer_schema == 'dark' ? ' text-light' : ' text-dark' )) : ' ') ~
  (b5_footer_bg_schema != 'none' ? " bg-#{b5_footer_bg_schema}" : ' ')
%}

{% if page.footer_top_left or page.footer_top_right or page.footer_bottom %}
<footer class="{{ footer_classes }}">
  <div class="{{ b5_top_container }}">
    {# Footer Top Left & Right #}
    {% if page.footer_top_left or page.footer_top_right %}
    <div class="footer-top">
      <div class="row">
        {# Footer Top left #}
        <div class="col-lg-4 footer-left">
          {{ page.footer_top_left }}
        </div>

        {# Footer Top Right #}
        <div class="col-lg-8 footer-right">
          {{ page.footer_top_right }}
        </div>
      </div>
    </div>
    {% endif %}
  </div>

  {# Footer Bottom #}
  {% if page.footer_bottom %}
  <div class="footer-bottom">
    <div class="{{ b5_top_container }}">
      {{ page.footer_bottom }}
    </div>
  </div>
  {% endif %}
</footer>
{% endif %}
