{# Header #}
{%
  set nav_classes = 'navbar navbar-expand-lg' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'custom' ? ' text-custom' : (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' )) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ') ~
  (menu_sp_position == 'left' ? ' sp-nav-left' : ' sp-nav-right') ~
  (navbar_sp_revert ? " sp-revert" : '') ~
  (page.header_left ? '' : ' no-headr-left') ~
  (header_left_logo_only ? ' left-logo-only' : '')

%}

<header>
  {# Header Top #}
  {% if page.header_top_right %}
  <section class="header-top">
    <div class="container">
      <div class="header-top-right">
        {{ page.header_top_right }}
      </div>
    </div>
  </section>
  {% endif %}

  <nav class="{{ nav_classes }}">
    <div class="container">
      {# Header Left #}
      {% if page.header_left %}
        <div class="header-left">
          {{ page.header_left }}
        </div>
      {% endif %}

      {# Header Right #}
      {% if page.header_right %}
        <div class="header-right">
        {{ page.header_right }}
        </div>
      {% endif %}
    </div>

    {# Header Bottom #}
    {% if page.header_bottom %}
      <div class="container header-bottom">
        {{ page.header_bottom }}
      </div>
    {% endif %}
  </nav>
</header>
