{# Header #}
{%
  set nav_classes = 'navbar navbar-expand-lg' ~
  (b5_navbar_schema != 'none' ? " navbar-#{b5_navbar_schema}" : ' ') ~
  (b5_navbar_schema != 'none' ? (b5_navbar_schema == 'dark' ? ' text-light' : ' text-dark' ) : ' ') ~
  (b5_navbar_bg_schema != 'none' ? " bg-#{b5_navbar_bg_schema}" : ' ')
%}

<header>
  <nav class="{{ nav_classes }}">
    <div class="container">
      {# Header Left #}
      {% if page.header_left %}
        {{ page.header_left }}
      {% endif %}
      
      {# Header Right #}
      {% if page.header_right %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarToggler">
        <div class="header-right">
        {{ page.header_right }}
        </div>
      </div>
      {% endif %}
    </div>
  </nav>
  {# {% if page.nav_branding or page.header %}
    <div class="container">
      {{ page.nav_branding }}
      {{ page.header }}
    </div>
  {% endif %}

  {% if page.nav_main or page.nav_additional %}
  <nav class="{{ nav_classes }}">
    <div class="{{ b5_top_container }} d-flex">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        <span class="navbar-toggler-label-open">{{ 'Menu'|t }}</span>
        <span class="navbar-toggler-label-close">{{ 'Close'|t }}</span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-end" id="navbarSupportedContent">
        {{ page.nav_main }}
        {# {{ page.nav_additional }} #}
      {# </div>
    </div>
  </nav>
  {% endif %} #}

</header>