{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{{ attach_library('kamihaya_digitalagency/maintenance')}}
<div class="maintenance">

  <header role="banner">
    <div class="container">
      <div class="logo">
      {% if logo %}
        <a class="d-block" href="{{ front_page }}" title="{{ 'Home'|t }}" rel="home">
          <img src="{{ logo }}" alt="{{ 'Home'|t }}" class="img-responsive" />
        </a>
      {% endif %}
    </div>
  </header>

  <main role="main">
    <div class="container">
      {% set maintenance_block %}
        {{ drupal_entity('block', 'maintenance_mode') }}
      {% endset %}
      {% if title|render|striptags|trim and maintenance_block|trim is empty %}
        <div class="page-title">
          <h1>{{ title }}</h1>
        </div>
      {% endif %}

      {{ page.highlighted }}
      {% if maintenance_block|trim is not empty %}
        {{ maintenance_block }}
      {% else %}
        {{ page.content }}
      {% endif %}
    </div>
  </main>

  {% if page.sidebar_first %}
    <aside class="layout-sidebar-first" role="complementary">
      {{ page.sidebar_first }}
    </aside>{# /.layout-sidebar-first #}
  {% endif %}

  {% if page.sidebar_second %}
    <aside class="layout-sidebar-second" role="complementary">
      {{ page.sidebar_second }}
    </aside>{# /.layout-sidebar-second #}
  {% endif %}

  {% if page.footer %}
    <footer role="contentinfo">
      <div class="container">
      {{ page.footer }}
      </div>
    </footer>
  {% endif %}

</div>{# /.layout-container #}
