{{  attach_library('kamihaya_cms_ai/kamihaya_ai') }}

{% set class = [
  'kamihaya-ai-container',
  background ? 'bg-' ~ background,
] %}

{# Kamihaya AI Container #}
<div{{ attributes.addClass(class) }}>
  {% if background == 'image' and bg_image %}
    <div class="image-bg">
      <img src="{{ bg_image }}" alt="{{ image_alt }}">
    </div>
  {% elseif background == 'video' %}
    <div class="video-bg">
      <video autoplay loop muted playsinline>
        <source src="{{ bg_video }}" type="video/mp4">
      </video>
    </div>
  {% else %}
    <div class="gradient-bg">
      <div class="gradient-bg__holder">
        <div class="gradient-bg__item gradient-bg__item--1"></div>
        <div class="gradient-bg__item gradient-bg__item--2"></div>
      </div>
    </div>
  {% endif %}
  {% if header %}
    <div class="kamihaya-ai-container-header">
      {{ header }}
    </div>
  {% endif %}
  {% if sidebar_left %}
    <div class="sidebar-left">
      {{ sidebar_left }}
    </div>
  {% endif %}
  <div class="kamihaya-ai-container-main">
    {% set current_step = current_step is defined ? current_step : 'summarize' %}
    <input type="hidden" id="current-step" value="{{ current_step }}">
    <div class="chat-block">
      <div class="chat-block-body">
        <div class="chat-block-body-content">
          {{ chat_body }}
        </div>
      </div>
      {% if process %}
        <div class="chat-block-process chat-block-process-hidden">
          <div class="chat-block-process-content">
          </div>
        </div>
      {% endif %}
    </div>

    <div class="results-block{% if hide_result %} results-block--hidden{% endif %}">
      {% if steps %}
        {% set disp_steps = steps | filter((v, k) => v.name) %}
        <ul class="results-block-header{% if step_design %} step-design-{{ step_design }}{% endif %}">
          {% set idx = 0 %}
          {% for key,step in disp_steps %}
            {% set idx = idx + 1 %}
            <li class="results-block-header-item step-{{ key|replace({'_': '-'}) }}" role="presentation">
              <a href="#step-body-{{ key|replace({'_': '-'}) }}" class="disabled"><span>{{ step.name }}</span></a>
            </li>
            {% if step_design == 'slider' and idx < disp_steps|length %}
              <span class="results-block-header-item step-arrow"></span>
            {% endif %}
          {% endfor %}
        </ul>
        <div class="results-block-body">
          {% if disp_steps %}
            {% for key,step in disp_steps %}
              <div class="results-block-body-item" id="step-body-{{ key|replace({'_': '-'}) }}">
                {% if step.wait_movie %}
                  <div class="results-block-body-item-movie">
                    <video loop muted playsinline>
                      <source src="{{ step.wait_movie }}" type="video/mp4">
                    </video>
                    {% if stoppable %}
                      <div class="results-block-body-item-stop">
                        <button class="btn btn-primary button--small btn-stop">{{ 'Suspend'|t }}</button>
                      </div>
                    {% endif %}
                  </div>
                {% endif %}
                {{ step.body }}
              </div>
            {% endfor %}
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
  {% if edit_prompt %}
    <div class="edit-prompt hidden">
      <div class="edit-prompt-header">
        <div class="edit-prompt-header-title">
          {{ 'Check Prompt'|t }}
        </div>
        <div class="edit-prompt-header-close">
          <a href="#" class="prompt-close" aria-label="{{ 'Close'|t }}">
            <span class="visually-hidden">{{ 'Close'|t }}</span>
          </a>
        </div>
      </div>
      <div class="edit-prompt-body">
        <div class="edit-prompt-body-content">
        </div>
        <div class="edit-prompt-body-buttons">
          <button class="btn btn-secondary button--small btn-edit-prompt">{{ 'Edit Prompt'|t }}</button>
          <button class="btn btn-primary button--small btn-edit-prompt-cancel">{{ 'Cancel'|t }}</button>
      </div>
    </div>
  {% endif %}
  {% if sidebar_bottom %}
    <div class="sidebar-bottom">
      {{ sidebar_bottom }}
    </div>
  {% endif %}
  {% if sidebar_right %}
    <div class="sidebar-right">
      {{ sidebar_right }}
    </div>
  {% endif %}
    {% if second_mode %}
      <div class="second-mode-switch">
        <label for="second-mode-switch">{{ second_mode_name }}</label>
        <input type="checkbox" id="second-mode-switch" class="second-mode-switch">
      </div>
    {% endif %}
  </div>
</div>
